.swp
.DS_Store
.#migmag.org
.streamlit/config.toml
.migmag.org.~undo-tree~
.odyssey.py.~undo-tree~
.odyssey_dash.py.~undo-tree~
.odyssey_func.py.~undo-tree~
.odyssey_updater.py.~undo-tree~
.#odyssey_updater.py
.#odyssey_func.py
Pipfile
Temp/
__pycache__/
migmag.org
TODOs.org
.TODOs.org.~undo-tree~
token.txt
